<div data-bind="with: cart">
    <div class="cart" data-bind="foreach: cartItems">
        <div class="cart-goods-item">
            <div class="row align-items-center">
                <div class="col-md-2 col-4">
                    <a data-bind="attr: { href: '/' + goodsItem.canonicalUrl(), title: goodsItem.name }">
                        <img class="img-fluid" data-bind="attr: { src: '/Gallery/Thumbnail/' + goodsItem.mainImageId(), alt: goodsItem.name, title: goodsItem.name}" />
                    </a>
                </div>
                <div class="col-md-6 col-6">
                    <div class="cart-goods-item-header"><a data-bind="attr: { href: '/' + goodsItem.canonicalUrl(), title: goodsItem.name }, text: packId() != null ? goodsItem.name() + ' ' + pack.packInfo.name() : goodsItem.name"></a></div>
                    <div class="small">Артикул: <span data-bind="text: goodsItem.article"></span></div>
                </div>
                <div class="col-2 col-md-1 order-md-4 text-right">
                    <a href="#" data-bind="click: function(){ $root.removeItem(goodsItem.heartId(), packId()); }"><img src="/Content/theme/images/del.png" alt="Удалить" /></a>
                </div>
                <div class="col-md-3 col-8 offset-md-0 offset-4">

                    <div class="price"><span data-bind="text: summary"></span> руб.</div>
                    <div class="small"><span data-bind="text: quantity"></span> x <span data-bind="text: discountedPrice"></span> руб.</div>
                    <div class="item-count">
                        <button class="btn minus" data-bind="click: function(){ $root.increaseItemCount($data, false); }">-</button>
                        <input type="text" class="form-control" data-bind="value: quantity" disabled>
                        <button class="btn plus" data-bind="click: function(){ $root.increaseItemCount($data, true ); }">+</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

