@model int?

@using RoCMS.Shop.Contract.Models
@using RoCMS.Shop.Contract.Services
@{
    var shopCategoryService = DependencyResolver.Current.GetService<IShopCategoryService>();
    ICollection<Category> cats = Model.HasValue ? shopCategoryService.GetCategory(Model.Value).ChildrenCategories : shopCategoryService.GetCategories();
}


<div class="cats-list">
    <div class="row">
        @foreach (var cat in cats)
        {

            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="image">
                    <a href="/Shop/Category/@cat.CategoryId">
                        <img src="@Url.Action("Thumbnail", "Gallery", new {id = cat.ImageId})" alt="@cat.Name">
                    </a>
                </div>
                <div class="name">
                    <a href="/Shop/Category/@cat.CategoryId">@cat.Name</a>
                </div>
            </div>

        }
    </div>
</div>
