@using RoCMS.Shop.Contract.Services
@model string
           
@{
    var shopService = DependencyResolver.Current.GetService<IShopPickupPointService>();
    var pickUpPoints = shopService.GetPickupPoints().Where(x => x.City == Model).ToArray();
}

@if (pickUpPoints.Any())
{
    <ul>
        @foreach (var point in pickUpPoints)
        {
            <li><a href="@Url.RouteUrl("PickUpPoint", new {id = point.PickUpPointId})">@point.Title</a></li>
        }
    </ul>
}