@using RoCMS.Base.ForWeb.Helpers
@using RoCMS.Helpers
@{
    var urlParams = ParamExtractor.ExtractUrlParams(Request);    
    
    string value = urlParams.ContainsKey("query") ? urlParams["query"].ToString() : "";
    
}


<form class="form-inline" role="search" action="/search">
    <input class="form-control" type="search" placeholder="Поиск" aria-label="Search"  name="query" value="@value">
    <button type="submit"><em class="fa fa-search"></em></button>
</form>