@using RoCMS.Shop.Contract.Services
@{
    ViewBag.Title = ViewBag.Header = "Спасибо за покупку!";
    Layout = "~/Views/Shared/PublicLayouts/_clientLayout.cshtml";
    var service = DependencyResolver.Current.GetService<IShopClientService>();
    var discounts = service.GetRegularClientDiscounts();
}

<div class="bg-white text-center">
    <p>
        Информация о заказе отправлена на указанную почту.<br />
        Оператор свяжется с вами для подтверждения заказа в ближайшее время.<br />
    </p>
</div>

@if (discounts.Any())
{
    <p>
        <h3>Скидки для постоянных клиентов:</h3>
        <table class="regular-client-discounts table">
            <thead>
            <tr>
                <td>Общая сумма всех заказов</td>
                <td>Скидка</td>
            </tr>
            </thead>
            @foreach (var discount in discounts)
            {
                <tr>
                    <td>от @(discount.MinimalSum == 0 ? "0" : discount.MinimalSum.ToString("### ###")) р.</td>
                    <td>@(discount.Discount)%</td>
                </tr>
            }
        </table>
    </p>

}