@using System.Web.Optimization
@using Resources
@using RoCMS.Base.ForWeb.Helpers
@using RoCMS.Web.Contract.Services
@using Block = RoCMS.Web.Contract.Models.Block
@using Menu = RoCMS.Web.Contract.Models.Menu
@using Review = RoCMS.Web.Contract.Models.Review
@{

    Layout = "~/Views/Shared/PublicLayouts/_landingLayout.cshtml";

    var blockService = DependencyResolver.Current.GetService<IBlockService>();


}

@if (ViewBag.Header != null)
{
    <div class="bg11 page-title">
        <div class="container text-center">
            @Html.Partial("_BreadCrumbsBlock")
            <h1>@ViewBag.Header</h1>
        </div>
    </div>
}





<div class="container">
    <div class="page-content">
        @RenderBody()
    </div>
</div>


