<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    
    <target xsi:type="File" name="errorfile" fileName="${basedir}/logs/errors/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}"
            encoding="UTF-8"  />
    <target xsi:type="File"
            name="tracefile"
            fileName="${basedir}/logs/trace/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}"
            encoding="UTF-8"  />
    
    <target name="mail"
            xsi:type="Mail"
            html="true"
            subject="Synweb.ru Error Received"
            body="${message}"
            to="error@synweb.ru"
            from="no-reply@synweb.ru"
            enableSsl="false"
            encoding="UTF-8"
            smtpUserName="no-reply@synweb.ru"
            smtpPassword="pwd"
            smtpAuthentication="Basic"
            smtpServer="smtp.yandex.com"
            smtpPort="587" />
    
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Error" writeTo="errorfile" />
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="tracefile" />
    <!--<logger name="*" minlevel="Fatal" writeTo="mail" />-->
    
  </rules>
</nlog>