<div>
    <form>
        <input type="text" class="form-control textbox-key" placeholder="ID" />
        <input type="text" class="form-control textbox-value" placeholder="Значение"/>
    </form>
</div>