@model ICollection<RoCMS.Web.Contract.Models.InterfaceString>

@{
    ViewBag.PageTitle = ViewBag.Title = "Строки интерфейса";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div>
    <div class="row bold text-center">
        <div class="col-xs-3 col-lg-2">ID</div>
        <div class="col-xs-5 col-lg-6">Значение</div>
    </div>
    <div class="interface-strings-items" data-bind="template: { name: 'interface-string-template', foreach: strings }">
    </div>

    <button class="btn btn-link" data-bind="click: addItem"><i class="fa fa-plus"></i></button>
</div>
<div>
    <button class="button-accept btn btn-success" data-bind="click: save"><i class="fa fa-check"></i>Сохранить</button>
</div>


<script type="text/html" id="interface-string-template" >
    <div class="row interface-strings-item">
        <div class="col-xs-3 col-lg-2">
            <input type="text" class="form-control" data-bind="value: key">
        </div>
        <div class="col-xs-5 col-lg-6">
            <input type="text" class="form-control" data-bind="value: value">
        </div>
        <div class="col-xs-1">
            <div class="form-control-static">
                <a class="remove-item" data-bind="click: $parent.removeItem"><i class="fa fa-trash-o"></i></a>
            </div>
        </div>
    </div>
</script>

@Js("Content/admin/ro/js/rocms.interface.strings.js")

@JsInline(@<script>
    $(function () {
        interfaceStringListLoaded();
    });
</script>)