.inputTagDropDownList{
    position: absolute;
    border: 1px solid #b7b7c8;
    background-color: white;
    z-index: 99;
    border-radius : 2px;
}


.inputTagDropDownListContainer{
    height: 0px !important;
    margin: 0px !important;
    top: 0px !important;
    left: 0px !important;
    padding: 0px !important;
    border: none !important;
    position: relative;
}

.inputTagDropDownList li{
    padding: 2px 10px 2px 2px;
    background-color: white;
}

.inputTagDropDownList li:hover{
    background-color: #3276b1;   
    color: white;
}