@{
    if (!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/PublicLayouts/_clientLayout.cshtml";
    }
    ViewBag.Title = ViewBag.Header = "Восстановление пароля";
}
<form class="forgot-password comment_form  form-inline">
    <p>Пожалуйста, введите Email, на который зарегистрирован ваш аккаунт. На этот адрес будут высланы инструкции по восстановлению пароля.</p>
    <input class="restore-password-email email form-control" type="text" data-val="true" data-val-required="*" class="form-control"/>
    <button type="button" class="password-restore btn btn-light">Восстановить</button>
    <p class="ticket-success" style="display:none">Инструкции высланы на ваш Email. Не забывайте свои пароли! :)</p>
</form>

@JsInline(
@<script>
    $(function() {
        $("button.password-restore").removeAttr("disabled");
        $("button.password-restore").click(function() {
            var $form = $(this).closest("form");
            jQuery.validator.unobtrusive.parse($form);

            if ($form.valid()) {

                $(this).attr("disabled", "disabled");
                var input = $('.restore-password-email');
                var value = input.val();
                postJSON('/api/user/password/createTicket/' + value, null, function(res) {
                    if (res.succeed) {
                        input.val("");
                        $("p.ticket-success").show();
                    } else if (res.message) {
                        $("button.password-restore").removeAttr("disabled");
                        smartAlert(res.message);
                    } else {
                        $("button.password-restore").removeAttr("disabled");
                        smartAlert("При восстановлении пароля произошла ошибка");
                    }
                });
            } else {

                $form.validate().focusInvalid();
            }
        });
    });
</script>
)