@model IEnumerable<string>
@if (Model != null)
{
    <ul>
        @foreach (var str in Model)
        {
            <li><img src="@Url.Action("Thumbnail", "Gallery", new {id = str})"/></li>
        }
    </ul>
}
