<form class="form-horizontal authorize">
    <h3>Авторизация на сайте</h3>
    <div class="form-group">

        <input class="form-control login" type="text" />

    </div>
    <div class="form-group">

        <input class="form-control pass" type="password" />

    </div>
    <div class="form-group">

        <button class="sign-in button-grey" type="button">Войти на сайт</button>

    </div>
    @Html.AntiForgeryToken()
</form>

