@model Guid

@{
    ViewBag.Title = ViewBag.Header = "Восстановление пароля";
    Layout = "~/Views/Shared/PublicLayouts/_clientLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Восстановление пароля</h1>
    </div>
</div>

<form class="comment_form form-horizontal" data-token="@Model">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="col-md-3 control-label text-right">Пароль:</label>
        <div class="col-md-5">
            <input type="password" name="pwd1" class="password form-control" data-val="true" data-val-required="*">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label text-right">Подтвердите пароль:</label>
        <div class="col-md-5">
            <input type="password" name="pwd2" class="password-confirm form-control" data-val="true" data-val-required="*">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-5">
            <button type="button" class="password-set">Сменить пароль</button>
            <p class="set-password-success" style="display:none">Пароль успешно изменён.</p>
            <p class="set-password-fail" style="display:none">При смене пароля произошла ошибка. Возможно, тикет истёк. Попробуйте пройти процедуру восстановления пароля заново.</p>
        </div>
    </div>
</form>


@JsInline(
    @<script>
         $(function() {
             $("button.password-set").removeAttr("disabled");
             $("button.password-set").click(function() {
                 var $form = $(this).closest("form");
                 var token = $form.data("token");
                 jQuery.validator.unobtrusive.parse($form);
                 if ($form.valid()) {
                     var pwd1 = $('input.password').val();
                     var pwd2 = $('input.password-confirm').val();
                     if (pwd1 != pwd2) {
                         alert("Пароли не совпадают");
                         return;
                     }

                     $(this).attr("disabled", "disabled");
                     postJSON('/api/user/password/set', { token: token, password: pwd1 }, function(res) {
                         if (res && res.succeed) {
                             $('input.password').val("");
                             $('input.password-confirm').val("");
                             $("p.set-password-success").show();
                             $("p.set-password-fail").hide();
                         } else {
                             $("button.password-set").removeAttr("disabled");

                             $("p.set-password-fail").show();
                             $("p.set-password-success").hide();
                         }
                     });
                 } else {
                     $form.validate().focusInvalid();
                 }
             });
         });
     </script>
)