@using Resources

@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/PublicLayouts/_clientLayout.cshtml";
}

<h1>404</h1>
<h2>@(Strings.PageNotFound). <a href="/">@(Strings.RedirectToHome).</a></h2>
