

<div class="leave-comment-container comment-form">
    <form class="message-form">
        @*<input class="col-xs-12 comment-name" type="text" name="name" placeholder="Ваше имя (обязательно)" data-val="true" data-val-required="*">
        <input class="col-xs-12 comment-email email" type="text" name="email" placeholder="Ваш email (обязательно)" data-val="true" data-val-required="*">
        <input class="col-xs-12 comment-url url" type="text" name="url" placeholder="Ваш сайт">*@
        <textarea class="comment-textarea" name="message" rows="5" cols="25" data-val="true" data-val-required="*" placeholder="Комментарий (обязательно)"></textarea>
        <button type="button" class="leave-comment btn btn-black">Отправить</button>
    </form>
    
</div>