@using RoCMS.Comments.Contract.Services
@using RoCMS.Comments.Contract.ViewModels
@model ICollection<CommentVM>



@Html.Partial("_ThreadInternal", Model)


<script id="reply-template" type="text/x-custom-template">

    <div class="leave-reply-container comment_form">

        <form class="form-horizontal message-form">
            <input class="comment-name form-control" type="text" name="name" placeholder="Ваше имя (обязательно)" data-val="true" data-val-required="*">
            <input class="comment-email email form-control" type="text" name="email" placeholder="Ваш email (обязательно)" data-val="true" data-val-required="*">
            @*<input class="comment-url url form-control" type="text" name="url" placeholder="Ваш сайт">*@
            <textarea class="comment-textarea form-control" name="message" rows="5" cols="25" data-val="true" data-val-required="*" placeholder="Комментарий (обязательно)"></textarea>
            <button type="button" class="leave-reply btn-dark">Отправить</button>
            <button type="button" class="hide-leave-reply-container no-corner btn-default">Отмена</button>
            <p class="agreement">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных в соответствии с <a target="_blank" href="/politika-konfidencialnosti">Политикой конфиденциальности</a>.</p>
        </form>

    </div>

</script>