/* Контрол инкремент и декремент */

.item-count {
    position: relative;
    max-width: 120px;
}

    .item-count .form-control:disabled {
        background: transparent;
    }

    .item-count .plus, .item-count .minus {
        position: absolute;
        top: 0;
        background: #888;
        color: #fff;
        border-radius: 0;
        width: 26px;
        line-height: 26px;
        padding: 0;
        text-aling: center;
        vertical-align: top;
    }

    .item-count .plus {
        right: 0;
    }

    .item-count .minus {
        left: 0;
    }

    .item-count input {
        border: 1px solid #cccccc;
        text-align: center;
        outline-color: #cccccc;
        padding: 0 10px;
        line-height: 24px;
        border-radius: 0;
        height: 26px;
        margin-bottom: 0;
    }

/* END Контрол инкремент и декремент */

/* Корзина */

.cart .cart-goods-item {
    border-bottom: 1px solid #eee;
    background: #fff;
    color: #333333;
    padding: 10px;
    box-shadow: 1.935px 7.762px 25.92px 1.08px rgba(0,0,0,.03);
}

.cart form {
    background: #fff;
    padding: 32px;
    box-shadow: 1.935px 7.762px 25.92px 1.08px rgba(0,0,0,.03);
}

.cart .cart-goods-item:last-child {
    border-bottom: none;
}

.cart .cart-goods-item img {
    border-radius: 4px;
}

.cart .cart-goods-item .price {
    font-weight: bold;
}

.cart .total {
    color: #451e11;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: right;
}

    .cart .total span {
        color: #3f51b5;
        white-space: nowrap;
    }

.cart .regular-client-discount {
    font-size: 1.2rem;
}

    .cart .regular-client-discount span {
        font-weight: bold;
    }

.form-horizontal input, .leave-goods-review-container textarea {
    border-color: #cccccc;
    color: #a4a4a4;
}

.cart .form-horizontal .col-form-label {
    text-align: left;
    color: #717171;
    font-weight: normal;
    font-size: 0.9rem;
}

.cart, .cart a {
    color: #646061;
}

    .cart .nav-tabs {
        border: none;
    }

        .cart .nav-tabs a.active {
            background: #f3f3f3;
            color: #4c484c;
            border: 1px solid #cccccc;
            border-bottom: 1px solid #f3f3f3;
        }

        .cart .nav-tabs > li > a:hover {
            border-color: #eee #eee #ddd;
        }

        .cart .nav-tabs a, .cart .nav-tabs a:hover {
            color: #4c484c;
            margin: 0;
        }

    .cart .nav > li > a:hover, .cart .nav > li > a:focus {
        text-decoration: none;
        background-color: #eee;
    }

    .cart .tab-content {
        background: #f3f3f3;
        border: 1px solid #cccccc;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .cart .delivery {
        margin-bottom: 0;
    }

    .cart .delivery-price > div {
        background: #3a4cae;
        color: #fff;
        padding: 5px 30px;
        margin-bottom: 20px;
    }

    .cart .delivery-price span {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .cart a.delivery-info {
        line-height: 1.8em;
        font-weight: bold;
        text-decoration: underline;
        color: #fff;
    }

    .cart .order-footer .cash {
        padding-left: 50px;
        background: url(../images/money.png) no-repeat left center;
        line-height: 38px;
    }

    .cart .order-footer .visa {
        padding-left: 50px;
        background: url(../images/credit.png) no-repeat left center;
        line-height: 38px;
    }

        .cart .order-footer .cash input, .cart .order-footer .visa input {
            margin-right: 5px;
        }

    .cart .order-footer .green {
        font-size: 16px;
        color: #558a14;
    }

    .cart .accept a {
        color: #618422;
        text-decoration: underline;
    }

    .cart .accept, .cart .submit {
        text-align: center;
        margin-bottom: 10px;
    }

    .cart .pan {
        border: 1px solid #cccccc;
        background: #f3f3f3;
        padding: 1.5rem;
        height: 100%;
        font-size: 0.9rem;
    }

        .cart .pan a {
            white-space: nowrap;
        }

        .cart .pan h3 {
            color: #558a14;
            text-transform: uppercase;
            margin-bottom: 24px;
        }

/* END Корзина */

/* Thank You */

table.regular-client-discounts {
    width: 100%;
    text-align: center;
}

    table.regular-client-discounts td {
        width: 50%;
    }

    table.regular-client-discounts thead {
        font-weight: bold;
    }

/* END Thank You */
