<div class="date-range-select">
    <div>
        <label for="analyticsFrom" class="col-xs-3">От</label>
        <input type="text" class="analytics-begin-date col-xs-9" id="analyticsFrom"
               data-date-format="dd-mm-yyyy"/>
    </div>
    <div>
        <label for="analyticsTo" class="col-xs-3">До</label>
        <input type="text" class="analytics-end-date col-xs-9" id="analyticsTo"
               data-date-format="dd-mm-yyyy" />
    </div>
</div>