@{
    ViewBag.PageTitle = "Настройки магазина";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


@Js("/bin/Content/admin/shop")

<div>
    
    <script type="text/x-jquery-tmpl" id="spec-item-settings-template">
        <span class="name-block">
            <span data-bind="text: name"></span>
            <a class="btn btn-xs btn-danger" onclick="true" data-bind="click: function() {$parent.removeSpec($data, $parent);}"><em class="fa fa-trash-o"></em></a>
        </span>
    </script>

    <h1>Настройки магазина</h1>

    <form class="form-horizontal" data-bind="with: settings">
        <div class="form-group">
            <label class="control-label col-lg-4">Стоимость доставки курьером, руб</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" data-bind="value: deliveryCost">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4">Стоимость самовывоза, руб</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" data-bind="value: selfPickupCost">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4">Города с курьерской доставкой (через запятую)</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" data-bind="value: courierCities">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4">Url каталога</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" data-bind="value: shopUrl">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4">Элементов на странице</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" data-bind="value: defaultPageSize">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4" for="price">Характеристики в фильтре</label>
            <div class="col-lg-7">
                <div class="row name-blocks-row" data-bind="template: { name: 'spec-item-settings-template', foreach: specsInFilter }">
                </div>
            </div>
            <div class="col-lg-1">
                <a class="btn btn-xs btn-success" onclick="true" data-bind="click: addSpec"><em class="fa fa-plus"></em></a>
            </div>
        </div>
        

        <div class="form-group text-center">
            <a class="btn btn-success" title="Сохранить" data-bind="click: save">Сохранить</a>
        </div>
    </form>
    
    @JsInline(@<script>
        $(function () {
            shopSettingsLoaded();
        });
    </script>)
</div>