<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="ShopContainer" connectionString="metadata=res://*/Shop.csdl|res://*/Shop.ssdl|res://*/Shop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=crm.synweb.ru;initial catalog=RoCMSTest1;persist security info=True;user id=rocmstest1;password=rocmstestPwd1;multipleactiveresultsets=True;application name=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="OptionsContainer" connectionString="metadata=res://*/Options.csdl|res://*/Options.ssdl|res://*/Options.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=crm.synweb.ru;initial catalog=RoCMSTest1;persist security info=True;user id=rocmstest1;password=rocmstestPwd1;multipleactiveresultsets=True;application name=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="TicketsContainer" connectionString="metadata=res://*/TicketsModel.csdl|res://*/TicketsModel.ssdl|res://*/TicketsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=crm.synweb.ru;initial catalog=RoCMSTest1;persist security info=True;user id=rocmstest1;password=rocmstestPwd1;multipleactiveresultsets=True;application name=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="BasicConnection" connectionString="data source=crm.synweb.ru;initial catalog=RoCMSTest1;persist security info=True;user id=rocmstest1;password=rocmstestPwd1;multipleactiveresultsets=True;application name=EntityFramework"
    providerName="System.Data.SqlClient" />
</connectionStrings>