<?xml version="1.0" encoding="utf-8" ?>
<pageRenderHelper>
  <embeddableViews>
    <clear />
    <add pattern="ACTIONS" path="~/bin/Views/Shop/_Actions.cshtml" />
    <add pattern="ACTIONSSLIDER" path="~/bin/Views/Shop/_ActionsSlider.cshtml" />
    <add pattern="ADDREVIEW" path="~/Views/Review/_AddReview.cshtml" />
    <add pattern="ALBUM(\d+)" path="~/Views/Gallery/Album.cshtml" />
    <add pattern="ALLGOODS" path="~/bin/Views/Shop/_AllGoods.cshtml" />
    <add pattern="ALLREVIEWS" path="~/Views/Review/_ReviewList.cshtml" />
    <add pattern="BESTSELLERS(\d+)" path="~/bin/Views/Shop/_BestSellers.cshtml" />
    <add pattern="BLOCK(\d+)" path="~/Views/Shared/_Block.cshtml" />
    <add pattern="BREADCRUMBS" path="~/Views/Shared/_BreadCrumbsBlock.cshtml" />
    <add pattern="CAROUSEL(\d+)" path="~/Views/Gallery/_Carousel.cshtml" />
    <add pattern="CARTSUMMARY" path="~/bin/Views/Shop/_CartSummary.cshtml" />
    <add pattern="CATEGORIES" path="~/bin/Views/Shop/_CategoriesPage.cshtml" />
    <add pattern="CATEGORYGOODS(\d+)" path="~/bin/Views/Shop/_CategoryGoodsSet.cshtml" />
    <add pattern="CLOCK([A-Z]+)" path="~/Views/Shared/CountdownTimer.cshtml" />
    <add pattern="CLOCK(\d{1,2}\.\d{1,2}\.\d{4})" path="~/Views/Shared/CountdownTimer.cshtml" />
    <add pattern="EVENTS" path="~/bin/Views/News/_Events.cshtml" />
    <add pattern="EVENTS(\d+)" path="~/bin/Views/News/_Events.cshtml" />
    <add pattern="FAQ" path="~/bin/Views/FAQ/_QuestionList.cshtml" />
    <add pattern="FAQ_ASK" path="~/bin/Views/FAQ/_AskQuestionForm.cshtml" />
    <add pattern="GALLERY" path="~/Views/Gallery/_ImageList.cshtml" />
    <add pattern="GOODSITEM(\d+)" path="~/bin/Views/Shop/_GoodsItemBlock.cshtml" />
    <add pattern="GOODSITEMTILE(\d+)" path="~/bin/Views/Shop/_GoodsItemTileBlock.cshtml" />
    <add pattern="ISTR([a-zA-Z0-9-_]+)" path="~/Views/Shared/_IStr.cshtml" />
    <add pattern="LASTNEWS(\d+)" path="~/bin/Views/News/_LastNews.cshtml" />
    <add pattern="LASTRUBRIC(\d+)" path="~/bin/Views/News/_LastRubric.cshtml" />
    <add pattern="LASTRUBRICSHORT(\d+)" path="~/bin/Views/News/_LastRubricShort.cshtml" />
    <add pattern="LASTTAG" path="~/bin/Views/News/_LastTag.cshtml" />
    <add pattern="LASTTAG([а-яА-Я -]+)" path="~/bin/Views/News/_LastTag.cshtml" />
    <add pattern="LASTTAG_RIGHTCOL(\w+)" path="~/bin/Views/News/_LastTagRightCol.cshtml" />
    <add pattern="LASTTAGSHORT" path="~/bin/Views/News/_LastTagShort.cshtml" />
    <add pattern="LASTTAGSHORT([а-яА-Я -]+)" path="~/bin/Views/News/_LastTagShort.cshtml" />
    <add pattern="LOGIN" path="~/Views/Home/_LayoutLogin.cshtml" />
    <add pattern="MAINMENU" path="~/Views/Shared/_MainMenu.cshtml" />
    <add pattern="MANUFACTURERLOGOS" path="~/bin/Views/Shop/_ManufacturerLogos.cshtml" />
    <add pattern="MENU(\d+)" path="~/Views/Shared/_Menu.cshtml" />
    <add pattern="NBLOCK([а-яА-Яa-zA-Z0-9_-]+)" path="~/Views/Shared/_BlockByName.cshtml" />
    <add pattern="NEWGOODS(\d+)" path="~/bin/Views/Shop/_NewGoodsItems.cshtml" />
    <add pattern="NEWS" path="~/bin/Views/News/_NewsBlock.cshtml" />
    <add pattern="NEXTDATETIME([A-Z]+ \d{1,2}:\d{2})" path="~/Views/Shared/_NextDateTime.cshtml" />
    <add pattern="ORDERFORM" path="~/Views/Message/_Order.cshtml" />
    <add pattern="ORDERFORM(\d+)" path="~/Views/Shared/_OrderForm.cshtml" />
    <add pattern="ORDERFORMFILE" path="~/Views/Message/_OrderWithFile.cshtml" />
    <add pattern="ORDERWITHPAYMENT" path="~/Views/Message/_OrderWithPayment.cshtml" />
    <add pattern="PASTEVENTS" path="~/bin/Views/News/_PastEvents.cshtml" />
    <add pattern="PASTEVENTS(\d+)" path="~/bin/Views/News/_PastEvents.cshtml" />
    <add pattern="PICKUPPOINTS([а-яА-Я -]+)" path="~/bin/Views/Shop/_PickUpPoints.cshtml" />
    <add pattern="RANDOMIMAGE(\d+)" path="~/Views/Gallery/_RandomImage.cshtml" />
    <add pattern="RANDOMNEWS(\d+)" path="~/bin/Views/News/_RandomNews.cshtml" />
    <add pattern="REVIEWPAGE" path="~/Views/Review/ReviewPage.cshtml" />
    <add pattern="REVIEWSLIDE(\d+)" path="~/Views/Review/_ReviewSlide.cshtml" />
    <add pattern="RUBRIC(\d+)" path="~/bin/Views/News/_RubricBlock.cshtml" />
    <add pattern="SEARCHFORM" path="~/Views/Shared/_SearchForm.cshtml" />
    <add pattern="SHOP_CATEGORIES" path="~/bin/Views/Shop/Categories.cshtml" />
    <add pattern="SHOP_SEARCH" path="~/bin/Views/Shop/_Search.cshtml" />
    <add pattern="SINGLELINEFORM" path="~/Views/Message/_SingleLine.cshtml" />
    <add pattern="SLIDER(\d+)" path="~/Views/Shared/Slider.cshtml" />
    <add pattern="TAG" path="~/bin/Views/News/_TagBlock.cshtml" />
    <add pattern="TAG([а-яА-Я -]+)" path="~/bin/Views/News/_TagBlock.cshtml" />
    <add pattern="TAGCLOUD" path="~/bin/Views/News/_TagsCloud.cshtml" />
    <add pattern="TODAY" path="~/Views/Shared/_Today.cshtml" />
    <add pattern="USERPANEL" path="~/Views/Shared/_UserPanel.cshtml" />
    <add pattern="VIDEO([a-zA-Z0-9-_]+)" path="~/Views/Shared/_Video.cshtml" />
    <add pattern="VIDEOALBUM(\d+)" path="~/Views/Shared/_VideoAlbum.cshtml" />
    <add pattern="YEAR" path="~/Views/Shared/CurrentYear.cshtml" />
  </embeddableViews>
</pageRenderHelper>