<div class="modal fade dialog-container" id="dialogContainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <a class="btn btn-light" data-dismiss="modal">Закрыть</a>
                <button type="button" class="btn btn-dark button-ok">Отправить</button>
            </div>
        </div>
    </div>
</div>