@using RoCMS.Base.ForWeb.Helpers
@using RoCMS.Web.Contract.Services
@{


    var blockService = DependencyResolver.Current.GetService<IBlockService>();

    var headerBlock = blockService.GetBlock(1);


}


<div class="pagenav fixedmenu header">
    <div class="container">
        <div class="holder-fixedmenu">
            @Block(headerBlock)

        </div>
    </div>
</div>

@Js("Content/client/ro/js/rocms.fixed-menu.js")
