@using System.Web.Optimization
@using Resources
<!DOCTYPE html>

<html>
    <head>
        <meta name="robots" content="noindex">
        <title>@Strings.UserLogin_LoginPageTitle</title>
        <meta name="viewport" content="width=device-width" />
        @Css("Content/base/vendor/login/css/login.css")

        @RenderStylesheets()
    </head>
    <body>
        @RenderBody()


    </body>
</html>
