<form class="navbar-form navbar-right" novalidate="novalidate" action="@Url.RouteUrl("Search")">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Введите запрос" name="query">
    </div>
    <button type="submit" class="btn btn-light">Поиск</button>
</form>