<div class="smart-alert">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="alert-tools">
                <a class="alert-hide" href="#">Скрыть</a>
            </div>
            <div class="alert-message text-center"></div>
        </div>
    </div>
</div>
