@using RoCMS.Base
@using RoCMS.Base.ForWeb.Extensions
@*<span data-bind="with: account">
        <span data-bind="style: {display: isAuthorized() === true ? 'block' : 'none' }">Вы авторизованы как:<br/>
            <i class="fa fa-user" style="font-size: 24px"></i> <span data-bind="text: username"></span>&nbsp;<br />
            <a href="@Url.RouteUrl("Personal")" title="Выход">Личный кабинет</a> |
            <a href="#" data-bind="click: $root.logout" title="Выход">Выход</a>
        </span>
    </span>*@
@{
    string returnUrl = Request.Url.AbsolutePath.Replace(Request.Url.Host, "");
}

<ul>
    @if (!User.Identity.IsAuthenticated)
    {
        <li><a href="@Url.RouteUrl("Login", new {ReturnUrl = returnUrl })">Вход</a></li>
        <li><a href="@Url.RouteUrl("Register")">Регистрация</a></li>
    }
    @if (User.IsAuthorizedForResource(RoCmsResources.AdminPanel))
    {
        <li><a href="/admin">Админ-панель</a></li>
    }
    @if (User.Identity.IsAuthenticated)
    {
        @*<li><a href="@Url.RouteUrl("BlogPersonal")">Личный кабинет</a></li>*@
            <li><a href="#" onclick="logout()" class="logout">Выход</a></li>
    }
</ul>