@model RoCMS.Web.Contract.Models.Message

<div class="callback-dialog callback-order">
    <h2 class="text-center">Заказать звонок</h2>

    <form class="callback-container form-horizontal" method="post">

        <label for="callback-name">Ваше имя:</label>
        <input placeholder="Владимир" data-val="true" class="form-control" data-val-required="Укажите имя" id="callback-name" name="Name" type="text" value="">
        <label for="callback-phone">Телефон:</label>
        <input placeholder="+7 499 123-45-67" data-val="true" class="form-control" data-val-required="Укажите телефон" id="callback-phone" name="Phone" type="text" value="">
        <label for="callback-time">Удобное время:</label>
        <input placeholder="С 16:00 до 19:30" id="callback-time" class="form-control" name="callback-time" type="text" value="">
        <span id="callback-order-success" style="display: none">Спасибо! Наши операторы свяжутся с вами.</span>
        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        <span class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>

    </form>
</div>
