body {
    font-family: "Roboto Condensed", Arial;
    color: #333;
    font-variant-ligatures: none;
    padding-top: 150px;
}

.cke_editable {
    padding-top: 0 !important;
}

a {
    transition: all .3s ease-in-out;
    color: #389ede;
}

    a:hover {
        color: #4caf50;
        text-decoration: none;
    }

h1, h2, h3, h4, h5 {
    font-weight: 100;
}

p {
    text-align: justify;
}

.form-control {
    border-color: #e1e1e1;
    border-radius: 4px;
}

    .form-control:focus {
        border-color: #59c7fb;
    }

    .form-control, .form-control:focus, .form-control:active {
        outline: none;
        box-shadow: none;
        color: #333;
    }


.btn {
    white-space: normal;
}

    .btn, .btn:active, .btn:focus, .btn:hover {
        outline: none !important;
        box-shadow: none !important;
    }

.btn-primary {
    color: #854242;
    border-color: #854242;
    background: transparent;
}

    .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
        border-color: #854242;
        color: #ffffff;
        background: #854242;
    }

.btn-success {
    border: none;
    background-color: #4caf50;
    border-color: #4caf50;
    color: #fff;
}

    .btn-success:hover, .btn-success:active, .btn-success:focus {
        background-color: #33691e;
        border-color: #33691e;
        color: #ffffff;
    }

.btn-outline-success {
    color: #15cd72;
    border-color: #15cd72;
    outline: none;
}

    .btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
        color: #fff;
        background: #15cd72;
    }

.bg-success {
    background: #15cd72;
    color: #ffffff;
    border-radius: 4px;
}

.btn-large {
    display: block;
    width: 100%;
    font-size: 2rem;
    padding: 20px 0;
}

.btn-round {
    border-radius: 50%;
}

.menu-toggle-button {
    border-color: #33691e;
}

::-webkit-input-placeholder {
    color: #dddddd;
}

:-moz-placeholder {
    color: #dddddd;
}

::-moz-placeholder {
    color: #dddddd;
}

:-ms-input-placeholder {
    color: #dddddd !important;
    display: block;
}

::placeholder, .form-control::placeholder {
    color: #dddddd;
}

.pagination {
    margin-top: 2rem;
}

    .pagination li.dots {
        padding: 5px 10px;
    }


    .pagination .page-link {
        color: #279f41;
    }

    .pagination .page-item.active .page-link {
        background-color: #279f41;
        border-color: #279f41;
    }

.warning-link {
    color: #ffc107;
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
    background: #4caf50;
    border-color: #4caf50;
}

.btn-outline-success, .btn-outline-success, .btn-outline-success {
    border-color: #33691e;
    color: #33691e;
}

header {
    background: #fff;
}

    header .top-head {
        padding: 16px 0;
        transition: all .3s ease-in-out;
    }

    header.scroll .top-head {
        padding: 0;
    }

    header .top-head .phone {
        font-size: 1.5rem;
        white-space: nowrap;
    }

    header .top-head .navbar-text {
        padding-left: 30px;
        position: relative;
    }

        header .top-head .navbar-text:before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-family: FontAwesome;
            left: 0;
            font-size: 1.8rem;
            color: #854242;
        }

        header .top-head .navbar-text.phone:before {
            content: "\f095";
        }

        header .top-head .navbar-text.email {
            padding-left: 40px;
        }

            header .top-head .navbar-text.email:before {
                content: "\f27b";
            }

        header .top-head .navbar-text.address {
            white-space: nowrap;
        }

            header .top-head .navbar-text.address:before {
                content: "\f041";
            }

    header .top-head .timeline {
        font-size: 14px;
        line-height: 16px;
    }

    header .navbar {
        background: #854242;
        -webkit-box-shadow: inset 0px 1px 5px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0px 1px 5px rgba(0,0,0,0.3);
        box-shadow: inset 0px 1px 5px rgba(0,0,0,0.3), 0px 1px 2px rgba(0,0,0,0.3);
    }

    header .navbar-brand {
        color: #000;
        font-weight: bold;
    }

        header .navbar-brand img {
            height: 70px;
        }

        header .navbar-brand .slogan {
        }

    header .navbar-nav {
        width: 100%;
    }

        header .navbar-nav .nav-link {
            padding-top: 0;
            padding-bottom: 0;
        }


            header .navbar-nav .nav-link:hover {
                color: #ddebf5;
            }

        header .navbar-nav .nav-item:after {
            content: ' ';
            height: 2px;
            width: 0;
            display: block;
            transition: all .3s ease-in-out;
            background: #ddebf5;
            margin-right: .5rem;
            margin-left: .5rem;
        }

        header .navbar-nav .nav-item:hover:after {
            width: calc(100% - 1rem);
        }

.section-heading {
    text-align: center;
    margin-bottom: 2rem;
}

    .section-heading:after {
        display: block;
        margin: 0 auto;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        content: ' ';
        background: #e5e5e5;
        border: 2px solid #2b4258;
    }

.cta {
    text-align: center;
    background: #e5e5e5;
    color: #fff;
    padding: 2rem 0;
    font-size: 2rem;
    border-top: 1px solid #cccccc;
}

    .cta span {
        white-space: nowrap;
    }

ul.no {
    list-style: none;
    padding: 0;
}

    ul.no li {
        margin-bottom: 10px;
    }

footer {
    background: #cccccc;
    color: #fff;
}

    footer .up {
        padding: 16px 0;
        -webkit-box-shadow: inset 0px 1px 5px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0px 1px 5px rgba(0,0,0,0.3);
        box-shadow: inset 0px 1px 5px rgba(0,0,0,0.3);
        border-top: #999999 1px solid;
    }

    footer .down {
        background: #999999;
        padding: 10px 0;
        -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
        -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
        border-top: #777777 1px solid;
    }

    footer .logo {
        font-size: 1.25rem
    }

        footer .logo img {
            height: 70px;
        }

    footer ul.links {
        margin-bottom: 0;
    }

    footer a {
        color: #59c7fb;
    }

.breadcrumb {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}

    .breadcrumb a {
        color: #eeeeee;
        font-size: 14px;
    }

        .breadcrumb a:hover {
            color: #ddebf5;
        }

.breadcrumb-item + .breadcrumb-item::before {
    display: none;
}

.breadcrumb-item:after {
    color: #eeeeee;
    content: ">";
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
}

.dropdown-menu {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border-radius: 0;
    border: none;
}

.page-content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.totop {
    position: fixed;
    z-index: 599;
    bottom: 20px;
    right: 20px;
    display: none;
}

.gototop {
    background: rgba(51, 51, 51, 0.78);
    height: 50px;
    width: 50px;
    z-index: 9;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    transition: all .3s ease-in-out;
    border-radius: 50%;
}

    .gototop em {
        color: #ffffff;
        line-height: 45px;
        font-size: 30px;
    }
